{% extends 'main/layout.html' %}
{% load static %} 

{% block title %}О сайте{% endblock %}


{% block content %}
<div class="container mx-auto mt-4 card col-md-4 text-center p-5">
    <p class='fw-bold fs-4 gradient-all'>Сайт по управлению электронной библиотекой предоставляет пользователям удобный доступ к большому количеству электронных книг и ресурсов. Он позволяет организовывать, искать и управлять цифровыми коллекциями для оптимального использования и легкого доступа к нужной информации.</p>
</div>
{% endblock %}

